body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

ul {
    list-style: none;
    width: 100%;
}

ul li {
    padding: 2px;
    background: #f4f4f4;
    margin: 0;
    width: fit-content;
}

header {
    background: #f4f4f4;
    padding: 1rem;
    width: 100%;
}

#my-box {
    background-color: white;
    width: 900px;
}

#my-list {
    width: 900px;
}

#my-form {
    padding: 2rem;
    background: #f4f4f4;
}

#my-form label {
    display: block;
}

#my-form input[type='text'] {
    width: 100%;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#add {
    display: block;
    background-color: lightgreen;
}

#update {
    display: none;
}

.btn:hover {
    background: #444;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.error {
    background: orangered;
    color: #fff;
    padding: 5px;
    margin: 5px;
}

#signup-box {
    padding: 10px;
    border: 1px solid black;
    width: 100%;
}

#main-signup-box {
    margin-top: 100px;
}


#form-box {
    padding: 10px;
    border: 1px solid black;
    width: 100%;
}

#main-form-box {
    margin-top: 100px;
}

#leaderboard {
    display: none;
}

#leaderboard-list {
    padding: 30px;
}

#leaderboard-box {
    display: none;
}